<div class="card">
  <div class="card-header">
    <div class="">{{ toDo.description }}</div>
  </div>
  <div class="card-body">
    <div>
      {{ toDo.assignee.name }}
      <small>
        <a [href]="'mailto:' + toDo.assignee.email">
          {{ toDo.assignee.email }}
        </a>
      </small>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-outline-primary" (click)="openEdit(toDo)">
      <i class="fas fa-edit"></i>
    </button>
    <button
      class="btn btn-sm btn-outline-primary mx-1"
      [disabled]="toDo.is_complete && toDo.change_count >= 2"
      (click)="changeStatus(toDo)"
    >
      <i
        class="fas"
        [ngClass]="toDo.is_complete ? 'fa-arrow-up' : 'fa-arrow-down'"
      ></i>
    </button>
  </div>
</div>
